.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #dab241;
    text-transform: uppercase;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}

.logo {
    width: 400px;
    cursor: pointer;
}

.dropbtn {
    background: transparent;
    color: #dab241;
    padding: 16px;
    font-size: 20px;
    border: none;
    text-decoration: none;
}

.dropbtn:hover {
    text-decoration: none;
    color: #dab241;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.dropbtn:hover::after {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 45px;
}


.dropdown-content a {
    color: #dab241;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.h1p {
    font-family: poppins;
    text-align: center;
    padding: 50px 0;
    color: #dab241;

}

.hp {
    font-family: poppins;
    text-align: center;
    padding: 10px;
    color: #dab241;
}

.contact-us {
    font-size: 20px;
    font-family: poppins, sans-serif;
    line-height: 40px;
    background-color: #dab241;
    color: #fff;


}

.contact-us h3 {
    color: white;
    font-family: poppins;
    text-align: center;
    padding: 50px 0;
}

.contact-us-left {
    padding-bottom: 40px;
}


.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #dab241;
    color: white;
}

.h1contact {
    margin-bottom: 10px;

}

.courseimg {
    width: 90%;
}

.courses-p {
    padding: 10px;
}